[Unit]
Description=Level 2 MAC-Filter und Traffic Generator
After=network.target NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/Level2_Setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
