[Unit]
Description=Level 3 Webserver
Wants=network-online.target
After=network-online.target Level3-iptables.service

[Service]
User=root
WorkingDirectory=/home/pi/Level3
ExecStart=/usr/bin/python3 /home/pi/Level3/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
